version: 2

jobs:
  unitTest:
    docker:
      - image: web3f/node:v0.1.0
    steps:
      - checkout
      - run: yarn
      - run:
          name: Run tests
          command: |
            yarn test

  e2eTest:
    docker:
      - image: web3f/node-dind:v0.3.0
    resource_class: xlarge
    steps:
      - checkout
      - setup_remote_docker
      - run: yarn
      - run:
          name: Run tests
          command: |
            apk add curl
            curl -LO https://storage.googleapis.com/kubernetes-release/release/`curl -s https://storage.googleapis.com/kubernetes-release/release/stable.txt`/bin/linux/amd64/kubectl
            chmod a+x ./kubectl
            mv ./kubectl /usr/local/bin

            yarn e2e-test


workflows:
  version: 2
  test_and_deploy:
    jobs:
      - unitTest:
          filters:
            tags:
              only: /.*/
      - e2eTest:
          filters:
            tags:
              only: /.*/
